.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../../assets/image_1.jpg");
  min-height: 100vh !important;
}

.bgimg-2 {
  background-image: url("../../assets/image_1.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../../assets/image_1.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  text-shadow: 0 0 2em rgba(0,0,0,.5);
  font-family: Asap,sans-serif;
  width: 66.6666666667%;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  

