.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../../assets/image_3.jpg");
  min-height: 100vh;
}

.bgimg-2 {
  background-image: url("../../assets/cover_page.jpg");
  min-height: 80vh;
}

.bgimg-3 {
  background-image: url("../../assets/image_1.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../../assets/image_4.jpg");
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  padding-left: 50%;
}

.flex-container > div {
  margin: 10px;
  padding: 10px;
  align-self: center;
}

.youtube-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.donation-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.donation-container > div {
  align-self: center;
}

.sign-up {
  display: inline-block;
  border: 2px solid #ffffde;
  border-radius: 7px;
  text-align: center;
  line-height: 70px;
  width: 300px;
  height: 70px;
  font-weight: 500;
}

.message1 {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: right;
}

.message2 {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: right;
}

.button1 {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: right;
}

.button2 {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: right;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  text-shadow: 0 0 2em rgba(0,0,0,.5);
  font-family: Asap,sans-serif;
  width: 66.6666666667%;
}


h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #111;
}

h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #111;
}

p{
  color: #000;
  font-size: 20px;
}

.Nav-settings {
  position: fixed;
  background: none;
  z-index: 999;
  border: 0;
  width: 100%;
  border-radius: 0;
  background: rgba(5, 5, 5, 0.6);
}
