.about{

    background-color: rgb(224, 213, 180);
    align-items: center;
    padding: 2vw 2vw;
    justify-content: center;
    font-family: 'Open Sans';
}

.about h3{
    text-align: center;
}

.about p{
    font-size: 1.25vw;
}