body {
  margin: 0;
  padding: 0;
  height: 100%
}

html {
  height: 100%;
  margin: 0;
}

/*Overwiding button color for color scheme*/
.btn-primary {
  color: #fff;
  background-color: #0092B2;
  border-color: #0092B2;
}
